<head>
    <title>
        Ook!
        :
        Generic Function
        ook.
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>

            Generic Function
        </i>
        <strong>
            ook.
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        OOK
    </p>
    <h2>
        Syntax:
    </h2>
    <p>
        <pre>
  <span style="color: red"><strong>ook.</strong></span> <i>OOKS</i>
    &rarr; <i>result</i></pre>
    </p>
    <h3>
        Arguments and Values:
    </h3>
    <ul>
        <li style="list-style-type: none">
            <i>
                <code>
                    OOKS
                </code>
            </i>
             :
            see the methods' descriptions.
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             :
            a lambda-expression taking no arguments.
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        The OOK compiler entry point.
    </p>
    <p>
        This generic function just wraps the actual compiler, which expects a
list of - you guessed it - 'ooks'.
    </p>
    <div>
        <h2>
            Known Documented Methods:
        </h2>
        <ol>
            <li>
                <p>
                    <pre>
 <strong>ook.</strong>  <i>&lt;STRING&gt;</i> &rarr; <i>result</i></pre>
                </p>
                <p>
                    <p>
                        Dispatches on a pathname containing the OOKS.
                    </p>
                </p>
            </li>
            <li>
                <p>
                    <pre>
 <strong>ook.</strong>  <i>&lt;PATHNAME&gt;</i> &rarr; <i>result</i></pre>
                </p>
                <p>
                    <p>
                        The pathname containing the OOKS is opened and its content read.
                    </p>
                </p>
            </li>
            <li>
                <p>
                    <pre>
 <strong>ook.</strong>  <i>&lt;STREAM&gt;</i> &rarr; <i>result</i></pre>
                </p>
                <p>
                    <p>
                        Compiles the OOKS from the (banana) STREAM.
                    </p>
                </p>
            </li>
            <li>
                <p>
                    <pre>
 <strong>ook.</strong>  <i>&lt;LIST&gt;</i> &rarr; <i>result</i></pre>
                </p>
                <p>
                    <p>
                        OOKS is a list of OOKs to be compiled pair by pair.
                    </p>
                    <p>
                        The result is a LAMBDA of no arguments that contains the compiled
program (essentially a giant TAGBODY).
                    </p>
                </p>
            </li>
            <li>
                <p>
                    <pre>
 <strong>ook.</strong>  <i>&lt;T&gt;</i> &rarr; <i>result</i></pre>
                </p>
                <p>
                    <p>
                        You are in trouble! This method says 'monkey?!?.
                    </p>
                </p>
            </li>
        </ol>
    </div>
</body>