<head>
    <title>
        Parameter *index*
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Parameter
        </i>
        <strong>
            *index*
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        OOK
    </p>
    <h2>
        Description:
    </h2>
    <p>
        The library counter (counts more than banana peels).
    </p>
</body>