<head>
    <title>
        Parameter *library*
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Parameter
        </i>
        <strong>
            *library*
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        OOK
    </p>
    <h2>
        Description:
    </h2>
    <p>
        The place where library is located (can be 'unseen').
    </p>
</body>