<head>
    <title>
        System
        OOK
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            System
        </i>
        <strong>
            OOK
        </strong>
    </h1>
    <h2>
        Description:
    </h2>
    <p>
        A CL compiler and enviroment for literate Orangutans.
    </p>
</body>