/**
 * General styles.
 */

/* general */

body
{
  margin: 0;
  padding: 0;
  cursor: default;
}

body.tundra
{
  color: black;
  background-color: white;
  font-size: 12px;
}

table
{
  border-collapse: collapse;
}

td
{
  vertical-align: top;
  padding: 0px;
}

a:link, a:visited
{
  color: inherit;
}

li
{
  cursor: default;
}

h1
{
  padding: 0px;
  margin: 0px;
}

img
{
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

div
{
  cursor: inherit;
}

p
{
  margin-top: 0px;
}

em
{
  font-weight: bold;
}

/* debug */

.debug-component-hierarchy {
  padding: 1px;
  border: 1px lightgray solid;
}

.debug-component-hierarchy .class-name {
  font-size: 10px;
  color: purple;
}

/* localization */

.missing-localization {
  color: #ff0000;
}

/* page failed to load help */

#page-failed-to-load {
  margin: 1em;
}

#page-failed-to-load a {
  font-size: x-large;
  text-decoration: underline;
}

#page-failed-to-load h1 {
  margin: 1em;
}

/* ajax */

.reference.ajax-target {
  background-image: url("/static/hdws/image/miscellaneous/in-progress.gif");
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  left: -22px;
  padding-left: 22px;
  cursor: wait;
}

.ajax-request-in-progress {
  background-image: url("/static/hdws/image/miscellaneous/in-progress.gif");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  position: absolute;
  z-index: 1000;
  cursor: wait;
}

span .ajax-request-in-progress {
  background-image: none;
}

.ajax-replacement {
  border: 1px red solid !important;
}

.content-border.ajax-replacement {
  border-image: none;
  -moz-border-image: none;
  -webkit-border-image: none;
  border-width: 1px;
  -moz-border-width: 1px;
  -webkit-border-width: 1px;
}
