<head>
    <title>
        (X)HTM&Lambda;
        :
        FUNCTION
        %element
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Function
        </i>
        <strong>
            %element
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">%element</strong> <span style="color: blue">&KEY</span> <i>TAG</i> <i>ATTRIBUTES</i> <i>CONTENT</i> &rarr; <i>result</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul style="list-style-type: none">
        <li style="list-style-type: none">
            <i>
                <code>
                    TAG
                </code>
            </i>
             :
            a
            SYMBOL
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    ATTRIBUTES
                </code>
            </i>
             :
            a
            LIST
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    CONTENT
                </code>
            </i>
             :
            a
            T
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             :
            a ELEMENT.
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        A constructor for the structure ELEMENT.
    </p>
</body>