<head>
    <title>
        (X)HTM&Lambda;
        :
        TYPE
        html-sexp-syntax
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>

            Type
        </i>
        <strong>
            html-sexp-syntax
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">html-sexp-syntax</strong> </pre>
        </p>
    </div>
    <h2>
        Description:
    </h2>
    <p>
        The (enumerated) type of 'syntaxes' for the HTML Sexp-based representation.
    </p>
    <p>
        The actual type is defined to be (MEMBER :COMPACT :STANDARD). 
Each syntax style allows for different ways to write (X)HTML in Common Lisp code.
    </p>
    <p>
        <pre>
:COMPACT
 
    tag
    (tag . body)
    ((tag . attribute) . body)
 
:STANDARD
 
    tag
    (tag attributes . body)
</pre>

    </p>
</body>