/**
 * This file specifies various borders using tables and background images.
 * With CSS3 this could probably done much simpler, but we are not there yet.
 */

div.content-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/content-border.png") 5 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/content-border.png") 5 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/content-border.png") 5 stretch stretch;
  border-width: 5px;
  -moz-border-width: 5px;
  -webkit-border-width: 5px;
  background-image: url("/static/hdp/image/content-border/border-center-center-gradient.png");
  background-repeat: repeat-x;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-color: white;
}

div.title-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/title-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/title-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/title-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/title-border/border-center-center-decorated.png");
  background-repeat: no-repeat;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  color: white;
  background-color: #052e3e;
}

div.table-header-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/column-border/border-center-center.png");
  background-repeat: repeat-x;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  color: black;
  background-color: #73a1b4;
}

div.place-group-header-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/column-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/column-border/border-center-center-decorated.png");
  background-repeat: no-repeat;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  color: black;
  background-color: #73a1b4;
}

div.error-message-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/error-message-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/error-message-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/error-message-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/error-border/border-center-center-decorated.png");
  background-repeat: no-repeat;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  color: white;
  background-color: #540f05;
}

div.warning-message-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/warning-message-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/warning-message-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/warning-message-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/warning-border/border-center-center-decorated.png");
  background-repeat: no-repeat;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-color: #e5d50b;
}

div.information-message-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/information-message-border.png") 3 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/information-message-border.png") 3 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/information-message-border.png") 3 stretch stretch;
  border-width: 3px;
  -moz-border-width: 3px;
  -webkit-border-width: 3px;
  background-image: url("/static/hdp/image/information-border/border-center-center-decorated.png");
  background-repeat: no-repeat;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  color: white;
  background-color: #075122;
}

span.button-border {
  padding: 2px;
  border: solid transparent;
  border-image: url("/static/hdp/image/border/button-border.png") 6 stretch stretch;
  -moz-border-image: url("/static/hdp/image/border/button-border.png") 6 stretch stretch;
  -webkit-border-image: url("/static/hdp/image/border/button-border.png") 6 stretch stretch;
  border-width: 6px;
  -moz-border-width: 6px;
  -webkit-border-width: 6px;
  background-image: url("/static/hdp/image/button-border/border-center.png");
  background-repeat: repeat-x;
  background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
}

/* button-border */

.button-border {
  margin-right: 6px;
}

.button-border > thead > tr {
  display: none;
}

.button-border > tbody > tr > .border-left {
  background-image: url("/static/hdp/image/button-border/border-left.png");
  background-repeat: no-repeat;
}

.button-border > tbody > tr > .border-left > .decoration {
  width: 8px;
  height: 31px;
}

.button-border > tbody > tr > .border-center {
  background-image: url("/static/hdp/image/button-border/border-center.png");
  background-repeat: repeat-x;
}

.button-border > tbody > tr > .border-center > .command {
  margin-top: 2px;
  float: left;
}

.button-border > tbody > tr > .border-right {
  background-image: url("/static/hdp/image/button-border/border-right.png");
  background-repeat: no-repeat;
}

.button-border > tbody > tr > .border-right > .decoration {
  width: 8px;
  height: 31px;
}

.button-border > tfoot > tr {
  display: none;
}

/* tab-page-selector-border */

.tab-page-selector-border {
  display: inline-block;
}

.tab-page-selector-border > thead > tr {
  display: none;
}

.first > .tab-page-selector-border > tbody > tr > .border-left {
  background-image: url("/static/hdp/image/tab-page-selector-border/border-left.png");
  background-repeat: no-repeat;
}

.first > .tab-page-selector-border > tbody > tr > .border-left > .decoration {
  width: 5px;
  height: 33px;
}

.tab-page-selector-border > tbody > tr > .border-left {
  background-image: url("/static/hdp/image/tab-page-selector-border/separator.png");
  background-repeat: no-repeat;
}

.tab-page-selector-border > tbody > tr > .border-left > .decoration {
  width: 23px;
  height: 33px;
}

.tab-page-selector-border > tbody > tr > .border-center {
  background-image: url("/static/hdp/image/tab-page-selector-border/border-center.png");
  background-repeat: repeat-x;
}

.tab-page-selector-border > tbody > tr > .border-center > .switch-to-tab-page {
  margin-top: 3px;
  float: left;
}

.last .tab-page-selector-border > tbody > tr > .border-right {
  background-image: url("/static/hdp/image/tab-page-selector-border/border-right.png");
  background-repeat: no-repeat;
  display: block;
}

.last .tab-page-selector-border > tbody > tr > .border-right > .decoration {
  width: 19px;
  height: 33px;
  display: block;
}

.tab-page-selector-border > tbody > tr > .border-right {
  display: none;
}

.tab-page-selector-border > tbody > tr > .border-right > .decoration {
  display: none;
}

.tab-page-selector-border > tfoot > tr {
  display: none;
}

/* menu-border */

.menu-border {
  color: white;
  width: 100%;
  margin-top: 6px;
  width: auto;
}

.menu-border > thead > tr {
  height: 2px;
}

.menu-border > thead > tr > .border-left {
  background-image: url("/static/hdp/image/menu-border/border-top-left.png");
  background-repeat: no-repeat;
  width: 10px;
}

.menu-border > thead > tr > .border-center {
  background-image: url("/static/hdp/image/menu-border/border-top-center.png");
  background-repeat: repeat-x;
}

.menu-border > thead > tr > .border-right {
  background-image: url("/static/hdp/image/menu-border/border-top-right.png");
  background-repeat: no-repeat;
  width: 10px;
}

.menu-border > tfoot > tr {
  height: 13px;
}

.menu-border > tfoot > tr > .border-left {
  background-image: url("/static/hdp/image/menu-border/border-bottom-left.png");
  background-repeat: no-repeat;
  width: 10px;
}

.menu-border > tfoot > tr > .border-center {
  background-image: url("/static/hdp/image/menu-border/border-bottom-center.png");
  background-repeat: repeat-x;
}

.menu-border > tfoot > tr > .border-right {
  background-image: url("/static/hdp/image/menu-border/border-bottom-right.png");
  background-repeat: no-repeat;
  width: 10px;
}

.menu-border > tbody > tr > .border-left {
  background-image: url("/static/hdp/image/menu-border/border-center-left.png");
  background-repeat: repeat-y;
}

.menu-border > tbody > tr > .border-center {
  background-image: url("/static/hdp/image/menu-border/border-center-center.png");
  background-repeat: repeat-x;
  background-color: #2e4d5c;
  padding-top: 5px;
  vertical-align: top;
}

.menu-border > tbody > tr > .border-right {
  background-image: url("/static/hdp/image/menu-border/border-center-right.png");
  background-repeat: repeat-y;
}
