/**
 * Layout styles.
 */

/* cell alignment */

td._hla {
  text-align: left;
}

td._hca {
  text-align: center;
}

td._hra {
  text-align: right;
}

td._vta {
  vertical-align: top;
}

td._vca {
  vertical-align: middle;
}

td._vba {
  vertical-align: bottom;
}

td._nw {
  white-space: nowrap;
}

/* list */

table.list.vertical {
  width: 100%;
}

table.list > tbody > tr > td {
  padding: 0px;
}

div.list.horizontal > div {
  display: block;
  float: left;
}

div.list.vertical > div {
  display: block;
}

/* tree */

.node .content.leaf {
  padding-left: 1em;
}

.node.level-0 {
  padding-left: 0em;
}

/* NOTE: the 1em values all the way down is not an accident, they are divs, so they are nested */
.node.level-1 {
  padding-left: 1em;
}

.node.level-2 {
  padding-left: 1em;
}

.node.level-3 {
  padding-left: 1em;
}

.node.level-4 {
  padding-left: 1em;
}

.node.level-5 {
  padding-left: 1em;
}

.node.level-6 {
  padding-left: 1em;
}

.node.level-7 {
  padding-left: 1em;
}

.node.level-8 {
  padding-left: 1em;
}

.node.level-9 {
  padding-left: 1em;
}

/* treeble */

.nodrow.level-0 .cell {
  padding-left: 0em;
}

.nodrow.level-1 .cell {
  padding-left: 1em;
}

.nodrow.level-2 .cell {
  padding-left: 2em;
}

.nodrow.level-3 .cell {
  padding-left: 3em;
}

.nodrow.level-4 .cell {
  padding-left: 4em;
}

.nodrow.level-5 .cell {
  padding-left: 5em;
}

.nodrow.level-6 .cell {
  padding-left: 6em;
}

.nodrow.level-7 .cell {
  padding-left: 7em;
}

.nodrow.level-8 .cell {
  padding-left: 8em;
}

.nodrow.level-9 .cell {
  padding-left: 9em;
}
