/**
 * Common Lisp syntax hightlight.
 */

.t.lisp-form.inspector {
  font-family: monospace;
  color: black;
  background-color: lightyellow;
  border: 1px darkgray solid;
  padding-top: 6px;
  padding-bottom: 6px;
}

.lisp-form > .gutter {
  display: block;
  float: left;
  font-family: monospace;
  color: inherit;
  background-color: lightyellow;
  border: none;
  padding: 0px;
}

.lisp-form > .content {
  display: block;
  font-family: monospace;
  color: inherit;
  background-color: inherit;
  border: none;
  padding: 0px;
}

.lisp-form .line-number.first {
  padding-top: 6px;
}

.lisp-form .line-number.last {
  padding-bottom: 6px;
}

.lisp-form .line-number {
  color: black;
  background-color: #dddddd;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 3px darkgray solid;
  margin-right: 6px;
}

.lisp-form .token {
  font-style: italic;
}

.lisp-form .comment {
  color: darkgray;
}

.lisp-form .function {
  color: black;
  font-weight: bold;
}

.lisp-form .quote {
  color: black;
  font-weight: bold;
}

.lisp-form .unquote {
  color: black;
  font-weight: bold;
}

.lisp-form .backquote {
  color: black;
  font-weight: bold;
}

.lisp-form .unqoute-splicing {
  color: black;
  font-weight: bold;
}

.lisp-form .lexical-error {
  color: red;
  font-weight: bold;
}

.lisp-form .boolean {
  color: darkgreen;
}

.lisp-form .character {
  color: darkgreen;
}

.lisp-form .string {
  color: darkgreen;
}

.lisp-form .number {
  color: darkgreen;
}

.lisp-form .keyword {
  color: darkred;
}

.lisp-form .common-lisp {
  color: darkred;
}

.lisp-form .lambda-list-keyword {
  color: darkblue;
}

.lisp-form .special-form {
  color: darkred;
}

.lisp-form .definition .def {
  color: darkred;
}

.lisp-form .definition .kind {
  color: darkblue;
  font-weight: bold;
}

.lisp-form .definition .name {
  color: darkred;
  font-weight: bold;
}
