/**
 * Shell Script syntax hightlight.
 */

.shell-script.text.inspector {
  color: black;
  background-color: lightgray;
  border: 1px darkgray solid;
}

ol.shell-script {
  margin: 0px;
}

.shell-script li {
  background-color: lightyellow;
  border-left: 2px solid darkgray;
}

.shell-script .command {
  color: black;
  background-color: inherit;
  font-family: monospace;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
  padding-right: 6px;
  white-space: pre-wrap;
  background-image: url("/static/hdp/icon/14x14/dollar.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  cursor: text;
}

.shell-script .first.command {
  padding-top: 6px;
  background-position: 3px 9px;
}

.shell-script .last.command {
  padding-bottom: 6px;
}
