/**
 * Text styles.
 */

.text.inspector > .separator {
  background: url('/static/hdp/image/miscellaneous/separator.png') repeat-x;
}

.book.text.inspector > .title {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 24px;
}

.chapter.text.inspector
{
  margin-top: 12px;
}

.chapter.text.inspector > .title {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 16px;
}

.chapter.text.inspector .chapter.text.inspector > .title {
  font-size: 14px;
}

.text.inspector .title {
  font-family: Arial;
  text-shadow: #377d9b 1px 1px 1px;
}

.text.inspector .author {
  font-family: Times New Roman;
  font-size: 12px;
  padding-left: 12px;
}

.paragraph.text.inspector
{
  margin-top: 0px;
  margin-left: 12px;
}
