/**
 * Widget styles.
 */

span.widget {
  white-space: normal;
}

/* command */

.command {
  cursor: pointer;
  color: darkblue;
}

.command.disabled {
  cursor: default;
  color: darkgray;
}

.command:hover span {
  text-decoration: underline;
}

.command.disabled:hover span {
  text-decoration: none;
}

.command .icon {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* command-bar */

.command-bar {
  margin-top: 6px;
}

.command-bar td {
  white-space: nowrap;
}

.command-bar .command {
  margin-right: 3px;
}

/* title */

.title.widget {
  margin-bottom: 3px;
}

/* component messages */

.component-messages.messages {
  margin-bottom: 3px;
}

/* name-value-pair */

.name-value-pair {
  background-image: url( "/static/hdp/image/table-row/background.png" );
  background-repeat: repeat-x;
  background-color: #fafafa;
}

.name-value-pair > td {
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #c5def0;
}

.name-value-pair > .name {
  padding-right: 32px;
}


/* list */

.element {
  background-image: url( "/static/hdp/image/table-row/background.png" );
  background-repeat: repeat-x;
  background-color: #fafafa;
  border-bottom: 1px dotted #c5def0;
  padding-top: 2px;
  padding-bottom: 2px;
}


/* table */

.row {
  background-image: url( "/static/hdp/image/table-row/background.png" );
  background-repeat: repeat-x;
  background-color: #fafafa;
}

.row > .column {
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.row > .cell {
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #c5def0;
}

/* tree */

/* treeble */

.nodrow {
  background-image: url( "/static/hdp/image/table-row/background.png" );
  background-repeat: repeat-x;
  background-color: #fafafa;
}

.nodrow > th {
  padding-left: 1px;
  padding-right: 1px;
}

.nodrow > td {
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #c5def0;
}

/* external link */

.external-link a {
  color: darkblue;
}

.external-link a {
  text-decoration: none;
}

.external-link:hover a {
  text-decoration: underline;
}

/* xhml string */

.component.render-xhtml-output.inspector {
  font-family: monospace;
  color: black;
  background-color: lightgray;
  border: 1px darkgray solid;
  padding: 6px;
}

/* frame size breakdown */

table.frame-size-breakdown {
  margin: 10px;
}

table.frame-size-breakdown > tbody > tr.total-row {
  font-weight: bold;
}

table.frame-size-breakdown > tbody > tr > td.last {
  color: gray;
}

table.frame-size-breakdown > tbody > tr > td.delta {
  color: gray;
}

/* file download */

.file-download .missing-file {
  color: red;
}

/* selection, highlight */

.selectable {
  cursor: pointer;
}

.selected {
  background-image: url("/static/hdp/image/table-row/background-selected.png");
  background-repeat: repeat-x;
  background-color: #d1f4fc;
}

.highlighted {
  background-image: url("/static/hdp/image/table-row/background-highlighted.png");
  background-repeat: repeat-x;
  background-color: #fdfac8;
}

.filter-result {
  background-image: url("/static/hdp/image/table-row/background-filtered.png");
  background-repeat: repeat-x;
  background-color: #cbf6c1;
}

/* selection, highlight */

table.debugging-state
{
  border: 1px solid black;
}

table.debugging-state td.header
{
  background-color: #ddd;
  font-weight: bold;
}

table.debugging-state td
{
  padding: 0.5em;
  border: 1px solid black;
}
