/*
 * HELambdaP (CL EXT) STYLE
 *
 * Inspired by www.rhythmbox.org, (c) rhythmbox 2002
 *
 * New code, modifications
 * (c) Idan Gazit 2002, and
 * (c) Marco Antoniotti, 2003-2013
 *
 * Permission is hereby granted to use this style, etc etc etc.
 */

/* body styles. */
body {
    /* margin: 0; */
    background: #ffffff;
    font-family: Verdana, Arial, Helvetica;
    font-weight: normal;
    font-size: 12px;
    color: black;
}


/* A element styles. */
a.navigation-link-selected {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-style: italic;
}

a.navigation-link-selected:hover {
    text-decoration: underline;
    color: #ffffff;
    font-weight: normal;
    font-style: italic;
}

a.navigation-link {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: normal;
}

a.navigation-link:hover {
    text-decoration: underline;
    color: #ffffff;
    font-weight: normal;
}

a.return {
    text-decoration: none;
    color: #41286f;
    font-size: 8pt;
    font-weight: normal;
}

a.return:hover {
    text-decoration: underline;
    color: #68548D;
    font-size: 8pt;
    font-weight: normal;
}

a {
    text-decoration: underline;
    color: #41286f;
}

a:hover {
    text-decoration: underline;
    color: #68548D;
}

/* P element styles. */
p {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

p.navindex {
    /*
      font-family: Verdana, Arial, Helvetica;
      font-size: 12px;
      color: #000000;
      font-weight: normal;
      */

    text-indent: 10pt;

    margin-bottom: 1px;
    margin-top: 1px;
}


/* Element-independent class styles. */
.header {
    background: #9ebcb4;
    /* background-image: url("./images/header_bg_1.gif"); */
    /* background-repeat: no-repeat; */
    height: 55px;
}

.navigation {
    word-spacing: 5px;
    position: absolute;
    top: 35px;
    right: 5px;
    text-align: right;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
    word-spacing: 0px;
 }

.sidebar {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 5px;
    position: fixed;
    top: 10ex;
    right: 1em;
}

.text {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    margin-left: 5cm;
    margin-right: 2em;
}


.label {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    text-align: center;
    font-style: italic;
}

.command {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    background: #eae8e3;
    font-weight: normal;
    margin-bottom: 10px;
}

.content {
    background: #ffffff;
    padding: 5px;
    padding-right: 15px;
}

.toc {
    font-size: 10px;
    background: #ffffff;
    padding: 5px;
    padding-right: 5px;
}

.middle-bar {
    height: 5px;
    background: #A497BA;
}

.black-line {
    height: 1px;
    background: #000000;
}

.bottom {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.copyright {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10px;
    color: #808080;
    font-weight: normal;
    padding: 5px;
    text-align: right;
    border-color: #808080;
    border-width: 0px;
    border-style: dotted;
    border-top-width: 1px;
}

.centerblock {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: black;
    font-weight: normal;
}

.tableheader {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background: #505050;
    padding: 4px;
}

.tablerow1 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: black;
    font-weight: normal;
    background: #e0e0e0;
    padding: 4px;
}

.tablerow2 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: black;
    font-weight: normal;
    background: #f0f0f0;
    padding: 4px;
}

.tablerow_style {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: black;
    font-weight: normal;
    background: #f0f0f0;
    padding: 4px;
}

.captionimg {
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    color: #303030;
}

.indent {
    padding-left: 50px;
}

/*
.command
{
    font-family: Courier;
}
*/

/* LI element style. */
li {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

/* PRE element style. */
pre {
    background-color: #e0e0e0;
    padding-top: 6px;
    padding-bottom: 6px;
}


/* H elements styles. */
h1 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 18px;
    color: #41286f;
    font-weight: bold;
}

h2 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 16px;
    color: #41286f;
    font-weight: bold;
}

h3 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 14px;
    color: #41286f;
    font-weight: bold;
}

h4 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    color: #41286f;
    font-weight: bold;
}

h5 {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10px;
    color: #41286f;
    font-weight: bold;
}


/* Floating menu to the right */

#menu {
    position: fixed;
    top: 2cm;
    max-width: 4cm;
    padding-left: 2em;
}


/* end of file -- clstyle.css -- */
