<head>
    <title>
        :
        FUNCTION
        set-quote-character
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Function
        </i>
        <strong>
            set-quote-character
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        <code>
            IT.UNIMIB.DISCO.MA.XHTMLAMBDA
        </code>
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">set-quote-character</strong> <i>C</i> &rarr; <i>result</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul>
        <li style="list-style-type: none">
            <i>
                <code>
                    C
                </code>
            </i>
             :
            a character, either #' or #\".
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        Setf the current 'quote' character used in (X)HTML(5) string quoting.
    </p>
</body>