<head>
    <title>
        :
        FUNCTION
        t_context
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>
            Internal
            Function
        </i>
        <strong>
            t_context
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        <code>
            IT.UNIMIB.DISCO.MA.XHTMLAMBDA
        </code>
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">t_context</strong> <i>OBJECT</i> &rarr; <i>result</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul>
        <li style="list-style-type: none">
            <i>
                <code>
                    OBJECT
                </code>
            </i>
             :
            a TAG
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    result
                </code>
            </i>
             :
            a T
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        Accessor for the read-only slot CONTEXT of an object of type TAG.
    </p>
</body>