<head>
    <title>
        :
        MACRO
        with-html-syntax-output
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>

            Macro
        </i>
        <strong>
            with-html-syntax-output
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        <code>
            IT.UNIMIB.DISCO.MA.XHTMLAMBDA
        </code>
    </p>
    <h2>
        Syntax:
    </h2>
    <div>
        <p>
            <pre>
  <strong style="color: red">with-html-syntax-output</strong> (<i>STREAM</i> <span style="color: blue">&KEY</span> <i>PRINT-PRETTY</i> <i>SYNTAX</i>) <i>HTML</i> &rArr; <i>form</i></pre>
        </p>
    </div>
    <h3>
        Arguments and Values:
    </h3>
    <ul>
        <li style="list-style-type: none">
            <i>
                <code>
                    STREAM
                </code>
            </i>
             :
            a STREAM
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    PRINT-PRETTY
                </code>
            </i>
             :
            a generalized boolean; defaults to *print-pretty*
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    SYNTAX
                </code>
            </i>
             :
            a HTML-SEXP-SYNTAX value; defaults to *default-html-sexp-syntax*
        </li>
        <li style="list-style-type: none">
            <i>
                <code>
                    FORM
                </code>
            </i>
             :
            a FORM
        </li>
    </ul>
    <h2>
        Description:
    </h2>
    <p>
        Writes out a (X)HTML form to a stream.
    </p>
    <p>
        The writing is done using the XHTMLambda pretty-print dispatch table,
which is used if PRINT-PRETTY is non-NIL.  The HTML form is
represented using the appropriate SYNTAX.
    </p>
    <h2>
        Examples:
    </h2>
    <pre>
  cl-prompt&gt; (&lt;:with-html-syntax-output (*standard-output* :syntax :standard
                                                           :print-pretty t)
                 (&lt;:p () (&lt;:code () "for i in $ZZ do ...")))
  &lt;p&gt;
    &lt;code&gt;
        for i in $ZZ do ...
    &lt;/code&gt;
  &lt;/p&gt;
  &lt;p&gt;&lt;code&gt;for i in $ZZ do ...&lt;/code&gt;&lt;/p&gt;

</pre>
    <h2>
        See Also:
    </h2>
    <p>
        *default-html-sexp-syntax* and html-sexp-syntax

    </p>
</body>