<head>
    <title>
        Parameter *default-html-sexp-syntax*
    </title>
    <link rel="stylesheet" href="../helambdap.css" />
</head>
<body>
    <h1>
        <i>

            Parameter
        </i>
        <strong>
            *default-html-sexp-syntax*
        </strong>
    </h1>
    <h2>
        Package:
    </h2>
    <p>
        IT.UNIMIB.DISCO.MA.XHTMLAMBDA
    </p>
    <h2>
        Description:
    </h2>
    <p>
        The default HTML syntax used in the SEXP-based coding of HTML.
    </p>
    <p>
        The variable can take on the values of the type HTML-SEXP-SYNTAX,
i.e., :COMPACT or :STANDARD.  The default is :COMPACT.
    </p>
    <h2>
        See Also:
    </h2>
    <p>
        Type html-sexp-syntax
    </p>
</body>